[submodule "moon_zod"]
	path = moon_zod
	url = https://github.com/Betterlol/moon_zod.git
[submodule "vscode-moon-zod-schema"]
	path = vscode-moon-zod-schema
	url = https://github.com/Betterlol/vscode-moon-zod-schema.git
[submodule "notes"]
	path = notes
	url = https://github.com/Betterlol/moonbit-notes
